<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <!--h2 class="project-tagline">{{ site.tagline }}</h2-->

  <a href="{{site.url}}" class="btn">Home</a>
  <a href="{{site.url}}/self-introduction" class="btn">じこしょうかい</a>
  <a href="{{site.url}}/nihongo" class="btn">日本語</a>
 <!-- <a href="{{site.url}}/academics" class="btn">Academics</a>-->
  <a href="{{site.url}}/problem" class="btn">Problem Soliving</a>
 <!-- <a href="{{site.url}}/ios" class="btn">iOS Development</a> -->
  <a href="{{site.url}}/machine-learning" class="btn">Machine Learning</a>
  <a href="{{site.url}}/projects" class="btn">Projects</a>
  <a href="{{site.url}}/research" class="btn">Research</a>
  <a href="{{site.url}}/contact" class="btn">Contact</a>
</section>
