<!DOCTYPE html>
<html lang="{{ site.locale }}">

  {% include head.html %}

  <body>

    <section class="main-content">
      <h1 style="text-align:center; text-decoration: underline;">{{ page.title }}</h1>
      <p style="text-align:center;" class="meta">Written on {{ page.date | date_to_string }}</p>

      {{ content }}

      <span>
        {% for tag in page.tags %}
          {% capture tag_name %}{{ tag }}{% endcapture %}
            <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
        {% endfor %}
      </span>

      {% include page-footer.html %}

    </section>

  </body>
</html>
